.mainDiv {
  color: red;
  display: flex;
  flex-direction: column;

}
      /*    Nav Bar    */

nav {
  text-align: center;
}

      /*  Main Section  */
.mainSectionDiv {
  display: flex;
  height: 80vh;
}
.sideDiv {
  width: 30%;
  height: 100%;
  background-color: purple;
}

      /* Footer Section */

.footerDiv {
  width: 100%;
  text-align: center;
}
