.mainDiv {
  color: red;
  display: flex;
  flex-direction: column;

}
      /*    Nav Bar    */
nav {
  background-color: orange;
}
nav ul {
  display: flex;
  justify-content: center;
}

      /*  Main Section  */
.mainSectionDiv {
  display: flex;
  height: 80vh;
}


      /* Footer Section */

.footerDiv {
  width: 100%;
  text-align: center;
}
